In [10]:
import os

import matplotlib as plt
import pandas as pd

%matplotlib inline
plt.style.use('ggplot')

In [7]:
files = os.listdir('./by-offense/raw')
del files[0]
files

['jtdc-offense-type-arrest-warrant.csv',
 'jtdc-offense-type-court-hold.csv',
 'jtdc-offense-type-new-offense.csv',
 'jtdc-offense-type-probation-viol.csv',
 'jtdc-offense-type-total.csv']

In [15]:
for file in files:
    df = pd.read_csv('./by-offense/raw/%s' % file)

In [22]:
df = pd.read_csv('./by-offense/raw/%s' % files[0], header=None, skiprows=1)
df.head()

                              0           1           2           3
0      Juvenile Arrest Warrant   23 25% 53   60 45% 38   83 37% 42
1                       Person    9 39% 26   25 42% 47   34 41% 42
2                      Weapons    8 35% 42   11 18% 51   19 23% 47
3                     Property    2 9% 230   18 30% 17   20 24% 38
4  Drug - Controlled Substance    3 13% 58     2 3% 16     5 6% 41

In [26]:
df['test1'] = df[1].apply(lambda x: x.split(' ')[0])
df['test2'] = df[1].apply(lambda x: x.split(' ')[1])
df['test3'] = df[1].apply(lambda x: x.split(' ')[2])

In [27]:
df

,0,1,2,3,"(test1, test2, test3)",test1,test2,test3
0,Juvenile Arrest Warrant,23 25% 53,60 45% 38,83 37% 42,"[23, 25%, 53, ]",23,25%,53
1,Person,9 39% 26,25 42% 47,34 41% 42,"[9, 39%, 26, ]",9,39%,26
2,Weapons,8 35% 42,11 18% 51,19 23% 47,"[8, 35%, 42, ]",8,35%,42
3,Property,2 9% 230,18 30% 17,20 24% 38,"[2, 9%, 230, ]",2,9%,230
4,Drug - Controlled Substance,3 13% 58,2 3% 16,5 6% 41,"[3, 13%, 58, ]",3,13%,58
5,Drug – Cannabis,0 0% 0,0 0% 0,0 0% 0,"[0, 0%, 0, ]",0,0%,0
6,Sex Crimes,0 0% 0,3 5% 29,3 4% 29,"[0, 0%, 0, ]",0,0%,0
7,Other,1 4% 11,1 2% 99,2 2% 55,"[1, 4%, 11, ]",1,4%,11

In [ ]:
def split_cols(x):
    for ind, col in enumerate(x):
        if ind == 0:
            s = 'np'
        elif ind == 1:
            s = 'p'
        else:
            s = 'total'
        df['%s_num' % s] = df[1].apply(lambda x: x.split(' ')[0])
        df['%s_pct' % s] = df[1].apply(lambda x: x.split(' ')[1]).str.
        df['%s_avg_los' % s] = df[1].apply(lambda x: x.split(' ')[2])